/* Watsapp float Icon */

		.whatsapp_float {
			position: fixed;
			width: 70px;
			height: 70px;
			bottom: 60px;
			left: 20px;
			background-color: #25d366;
			color: #FFF;
			border-radius: 50%;
			text-align: center;
			font-size: 40px;
			box-shadow: 2px 2px 3px #999;
			z-index: 100;
			animation: bounce 3s infinite;
		}

		.whatsapp-icon {
			margin-top: 16px;
		}


		/* Mobile */
		@media screen and (max-width: 767px) {
			.whatsapp_float {
				width: 60px;
				height: 60px;
				bottom: 100px;
				right: 15px;
				font-size: 37px;
			}

			.whatsapp-icon {
				margin-top: 10px;
			}
		}

		@keyframes bounce {

			0%,
			20%,
			50%,
			80%,
			100% {
				transform: translateY(0);
			}

			40% {
				transform: translateY(-15px);
			}

			60% {
				transform: translateY(-7px);
			}
		}


		/* watsapp float icon end */


            